.container{
    overflow: hidden;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.1);
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

.main_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5px;
    /* background-color: rgb(255, 105, 105); */
    overflow: hidden;
    padding:0 5px;
    border-top: 5px solid #fff1;
}

button.box{
    border: 1px solid transparent;
    height: 45px;
    width: 45px;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    font-weight: 800;
    color:#000b;
    background: #ffffff3c;
    align-items: center;
    justify-content: center;
    box-shadow:inset 2px 2px 5px rgba(156, 129, 113, 0.567) ,0 0 5px rgba(0, 0, 0, 0.2);
    transition:all 0.25s;
}
button.box:not(:disabled) {
    border-color: #c5c6da;
}
button.box:disabled{
    background: #c8c8c8;
    border:"2px solid transparent";
    box-shadow:none;
    opacity: 0.4;
    outline: none;
}
button.box:focus,
button.box:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
    transform: scale(1.2)
}

.container_heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(108, 242, 211);
}
.container_heading *:nth-child(2){
    width: fit-content;
    border: 2px solid rgba(237, 28, 28, 0.427);
}
.container_heading *{
    width: 130px;
    text-align: center;
}

.container_heading p{
    background-color: rgb(255, 255, 255);
    display: inline-block;
}
#resetBtn{
    padding: 2px 20px;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: background 0.2s;
}
#resetBtn:hover{
    background-color: rgba(255, 255, 255, 0.8);
}
#total{
    padding: 2px 20px;
    border-radius: 0 5px 5px 0;
    box-shadow: 3px 0 5px rgba(0, 0, 0, 0.2);
}
#highScore{
    padding: 2px 20px;
    border-radius: 5px 0 0 5px;
    box-shadow: -3px 0 5px rgba(0, 0, 0, 0.2);
    transform: translateX(1px);
}
/* game start Screen */
.intro{
    position: absolute;
    z-index: 999;
    background-color: rgb(84, 28, 19);
    background-image: url(./asset/gameStart.jpg);
    background-position: left;
    background-size: cover;
    background-blend-mode: screen;
    height: 100dvh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: introBack 15s infinite alternate-reverse ease-in-out;
}   
@keyframes introBack {
    from{
        background-position: 100px;
    }
}
.intro .newGame{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    border-radius: 10px;
    box-shadow:inset 2px 2px 15px rgba(243, 30, 30, 0.4) ,0px 0px 10px rgb(0, 0, 0, 0.4);
    
    background: #f0b3afcc;
    /* width: 80%; */
    position: absolute;
    padding: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.intro .newGame p{ 
    display: inline-block;
    padding: 10px 60px;
    border-radius: 5px;
    color: #000b;
    background-color: white;
    box-shadow:inset  2px 2px 5px rgba(0, 0, 0, 0.2);
    border: 2px solid transparent;
    cursor: pointer;
    font-weight: 800;
    transition:all 0.2s;
}
#backBlur{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: #fff5;
    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(2px);
}
.intro .newGame p:hover{ 
    border: 2px solid rgb(67, 67, 67);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}
.intro .newGame p:active{ 
    transform: scale(0.8);
}

.introMenu{
    min-width: 300px;
    width: 30%;
}
.intro .introMenu h2{
    display: inline-block;  
    font-size:3em;
    text-align: center;
    text-decoration: underline;
    letter-spacing: 2px;
    background-image: url(./asset/gameStart.jpg);
    background-position: center;
    width: 100%;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    animation: backText 15s infinite alternate-reverse ease-in-out;
}
@keyframes backText {
    0%{
        background-size: 250% 250%;
        transform: translateX(30px);
    }
    50%{
        background-size: 100% 100%;
    }
    75%{
        background-size: 150% 250%;
    }
    100%{
        background-size: 250% 250%;
    }
}
.introOptions{
    /* font-size: 1.5em; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 2;
    min-width:fit-content;
    text-align: right;
}
.introOptions p{
    background-image: linear-gradient(to left, white 60%, rgba(0,0,0,0));
    padding: 5px 10px;
    border-radius: 0 5px 5px 0;
    font-weight: 800;
    text-transform: uppercase;
    box-shadow: 2px 5px 2px rgba(0, 0, 0, 0.5);
    transform: skewX(10deg);
    cursor: pointer;
    transition:all 0.5s;
}
.introOptions p:hover{
    background-image: linear-gradient(to left, rgb(255, 93, 57) 60%, rgba(0,0,0,0));
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
    transform: skewX(10deg) scale(1.2);
}
.introOptions p:active{
    background-image: linear-gradient(to left, rgb(255, 93, 57) 50%, rgba(0,0,0,0));
    border-right: 8px solid transparent;
    transform: skewX(0deg) scale(0.8);
}
.menuInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


@media only screen and (max-device-width:768px){
    .introMenu{
        width: 70%;
    }
    .intro{
        background-position: center;
    } 
    button.box{
        color:#000b;
        background: #c8c8c8;
    }
}